/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7.1
 *
*/

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Variables, Mixins
@import "./LESS/variables.import.less";
@import "./LESS/mixins.import.less";

// INSPINIA Theme Elements
@import "./LESS/typography.import.less";
@import "./LESS/navigation.import.less";
@import "./LESS/top_navigation.import.less";
@import "./LESS/buttons.import.less";
@import "./LESS/badges_labels.import.less";
@import "./LESS/elements.import.less";
@import "./LESS/sidebar.import.less";
@import "./LESS/base.import.less";
@import "./LESS/pages.import.less";
@import "./LESS/chat.import.less";
@import "./LESS/metismenu.import.less";
@import "./LESS/spinners.import.less";

// Landing page styles
// @import "landing.import.less";

// RTL Support
@import "./LESS/rtl.import.less";

// For demo only - config box style
@import "./LESS/theme-config.import.less";

// INSPINIA Skins
@import "./LESS/skins.import.less";
@import "./LESS/md-skin.import.less";

// Media query style
@import "./LESS/media.import.less";

// Custom style
// Your custom style to override base style
@import "./LESS/custom.import.less";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }

  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}














